# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# IDE config folders
.vscode/
.idea/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# Log files
*.log